Flask==3.1.2
gunicorn==23.0.0
python-dotenv==1.2.1
openai==2.7.1
langchain-core==1.0.3
langchain-community==0.4.1
langchain-huggingface==1.0.1
langchain-openai==1.0.2
faiss-cpu==1.12.0
sentence-transformers==5.1.2
torch==2.9.0
transformers==4.57.1
tokenizers==0.22.1
tiktoken==0.12.0
numpy==2.3.4
scikit-learn==1.7.2
scipy==1.16.3
joblib==1.5.2
threadpoolctl==3.6.0
huggingface-hub==0.36.0
requests==2.32.5
certifi==2025.10.5
charset-normalizer==3.4.4
idna==3.11
urllib3==2.5.0
